@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Inter&family=DM+Sans&family=Roboto:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar  */
nav {
  background: #6f6af7;
  display: flex;
  justify-content: space-around;
  position: sticky;
  /* top: 0; */
}

nav .title {
  font-family: Delius Unicase;
  width: 215px;
  height: 63px;
  margin-top: 18px;
  margin-left: 44px;
}
.title h3 {
  font-weight: 700;
  font-size: 62px;
  line-height: 79px;
  color: #ffffff;
}
.nav-link {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.nav-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  color: #ffffff;
  padding: 18px;
  font-size: 24px;
  margin-top: 16px;
  list-style: none;
  color: #ffffff;
}
ul li a {
  text-decoration: none;
  color: #ffffff;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  background: transparent;
}
.search-bar-text {
  border-radius: 63px;
  outline: none;
  border-style: none;
  background: #fff;
  height: 3.5rem;
  width: 19rem;
  padding: 24px 20px;
}

::placeholder {
  color: #9f9f9f;
  font-family: DM Sans;
  font-size: 20px;
  /* font-style: normal; */
  font-weight: 400;
  text-align: left;
  line-height: 31px;
}

.search-btn {
  background: transparent;
  border-style: none;
  padding-bottom: -10px;
  margin-left: -50px;
  cursor: pointer;
}
.hamburger {
  width: 67px;
  height: 50px;
  margin-left: 90px;
  margin-top: 30px;
  padding: 10px;
}
.hamburger img {
  height: 50px;
}

/* Aside Social Icons */
aside {
  margin-right: 1.2rem;
  position: sticky;
}
.social-icons {
  position: sticky;
  float: right;
  top: 132px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 117px;
  width: 70px;
  height: 154px;
  padding-right: 10px;
}
.social-icons img {
  height: 70px;
  width: 70px;
}

#wp-logo {
  border: 2px solid black;
  border-radius: 10px;
}

/* Main section */
.hero {
  width: 90vw;
  top: 20rem;
  margin: 4rem 2.8rem;
  display: flex;
  justify-content: space-around;
}
.left-section {
  width: 35%;
  height: 507px;
  padding-left: 5px;
}
.right-section {
  width: 60%;
  height: 507px;
  background-color: #e5d8ff;
  border-radius: 20px;
  box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
}
.hero-text {
  padding: 2rem;
  font-family: DM Sans;
  font-size: 23px;
  font-weight: 400;
  line-height: 51.82px;
  text-align: left;
}
/* SECTION 2 */
.card {
  display: flex;
  justify-content: space-between;
  width: 91vw;
  top: 20rem;
  margin: 2rem 2.3rem;
  padding-left: 5px;
}
.sub-card1 {
  width: 250px;
  height: 120px;
  background: #929dff;
  border-radius: 20px;
  gap: 20px;
  box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
  /* opacity: 0px; */
}
.sub-card2 {
  width: 250px;
  height: 120px;
  background: #734cf2;
  border-radius: 20px;
  box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
}
.sub-card3 {
  width: 250px;
  height: 120px;
  background: #d288ff;
  border-radius: 20px;
  box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
}
.sub-card4 {
  width: 250px;
  height: 120px;
  background: #000000;
  border-radius: 20px;
  box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
}
.progress-text {
  padding-left: 10px;
  padding-top: 12px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
}
.progress-Number {
  padding-left: 10px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
}

/* Last section */
.card-info {
  width: 90vw;
  height: 90vh;
  margin: 2rem 2.3rem;
  display: flex;
  justify-content: space-around;
  background: #483eff;
  border-radius: 20px;
}
.left-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}
.left-card button {
  width: 397px;
  height: 120px;
  padding: 1.5rem;
  margin-top: 1.5rem;
  opacity: 0px;
  font-family: DM Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 62.54px;
  letter-spacing: 0.04em;
  text-align: center;
}
.left-card .btn1 {
  background: #929dff;
  border-radius: 20px;
}
.left-card .btn {
  border: 5px solid white;
  border-radius: 20px;
  color: #ffffff;
  background: #483eff;
}
.right-card {
  background: #ffffff;
  width: 60%;
  margin: 2rem 1rem;
  border-radius: 15px;
}
.right-card .heading {
  padding-top: 1.5rem;
  padding-left: 4rem;
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  line-height: 45.99px;
  letter-spacing: 0.105em;
  text-align: left;
}
.right-card .details ul {
  padding-top: 2rem;
  padding-left: 4rem;
  margin-left: 2rem;
}
.right-card .details ul li {
  color: #000000;
}
.info-head {
  padding-right: 1.5rem;
}
.info-detail {
  padding-left: 1.5rem;
}
.next-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  margin-right: 20px;
}
.next-button .next-btn {
  height: 10vh;
  width: 30vh;
  border-radius: 9px;
  background: #000;
  color: #fff;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  cursor: pointer;
}

/* Support Image */
.support img {
  position: fixed;
  height: 130px;
  float: left;
  left: 92%;
  top: 85%;
  margin-right: 2rem;
  cursor: pointer;
}
